@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

/* CSS Custom Varibales */
:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
h1,h2,h3,h4,h5,h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--black);
}

p {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--dark-gray);
}

img {
  /* display: block; */
  width: 100%;
  /* margin: 0 auto; */
}

/* header container element */
.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 25px;
}

/* navivgation */
nav {
  display: none;
}

nav ul {
  list-style-type: none;
}

button {
  background: transparent;
  outline: none;
  border: none;
  color: var(--white);
  font-family: 'Alata', sans-serif;
}

/* hamburger menu-btn */
.menu-btn {
  padding: 20px;
}

.menu-btn .bar {
  width: 35px;
  height: 3px;
  background-color: var(--white);
  margin: 0 0 5px;
  border-radius: 20px;
  cursor: pointer;
}

/* ShowCase */
.showcase {
  background: url('./images/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
}

.showcase .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 90%;
  margin: 0 auto;
  /* padding: 0 25px; */
}

.showcase .overlay h1 {
  color: var(--white);
  font-size: 50px;
  border: 2px solid var(--white);
  padding: 20px;
  line-height: 1.05;
}

.showcase .overlay h1 .deliver {
  display: block;
}

/* interactive VR */

.interactive {
  padding: 50px 20px;
  text-align: center;
}

.interactive .interactive-text {
  padding: 0 2rem;
}

.interactive .interactive-text h2 {
  letter-spacing: 1px;
  font-size: 2.2rem;
  padding: 2.5rem 0 1.2rem;
}

.interactive .interactive-text p {
  line-height: 1.6;
}

/* Creations Mobile */
.creation-mobile h2 {
  text-align: center;
  padding-bottom: 35px;
  font-size: 2.2rem;
}

.creation-mobile section {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.creation-mobile article {
  position: relative;
}

.creation-mobile h3 {
  position: absolute;
  top: 60%;
  left: 20px;
  color: var(--white);
  padding: .25rem .5rem;
  width: 120px;
  font-size: 20px;
  /* border: 2px solid; */
}